<%- include('./partials/header.ejs') %>

<main>
    <h1><%= title %></h1>

    <p>Here are a few of our partner organizations:</p>
    <ul>
        <li><strong>BrightFuture Builders</strong>: info@brightfuture.org</li>
        <li><strong>GreenHarvest Growers</strong>: contact@greenharvest.org</li>
        <li><strong>UnityServe Volunteers</strong>: hello@unityserve.org</li>
    </ul>
</main>

<%- include('./partials/footer.ejs') %>